@import url('https://fonts.googleapis.com/css?family=Copse|Delius+Swash+Caps|Gabriela|Unkempt&display=swap');
body {
  background-image: url('../img/bg2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-attachment: fixed; 
  padding: 0;
}
 
.landing {
  background-image: url('../img/bg1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  top: 0%;
  left: 0%;
  text-align: center;
  font-family: 'Gabriela', sans-serif;
  color: rgb(60, 10, 152);
  background-attachment: scroll;
}

#mennu {
  color: rgb(11, 86, 14);
}
 .landing h1{
  font-size: 100px;
 }

.top {
  backdrop-filter: blur(10px);
  border: 150px 20px;
  height: 100%;
  top: 0%;
  padding: 20% 30px;
}
 
#menu {
  background-image: url('../img/mn.jpg');
  background-position: center;
  text-align: center;
  background-repeat: no-repeat;
}

#input {
  background-image: url('../img/fbg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: aliceblue;
  display: none;
  padding: 10px;
}
.form-control {
  opacity: 0.956;
  width: 70%;
}

#confirm {
  background-color: antiquewhite;
}

#checkout {
  background-color: aliceblue;
  display: none;
  padding: 10px;
  width: 70%;
}

.col-md-6 {
  padding: 10px;
}
.contact {
  background-image: url('../img/cbg.jpg');
  background-position: center;
  color: white;
  padding: 20px;
}
 .contact h1 {
  text-align: center;
 }

 #name,#email{
  
  background-color: antiquewhite;
 }

#msg {
  padding: 2%;
  align-self: center;
}